.pagination-container{
  width: 100%;

  & .pagination-container-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2rem;

    & .pagination-container-list-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #495057;

      &.pagination-container-list-item-selected{
        background-color: #2b3035;;
      }
    }
  }
}