.investment-portfolio-overview{
  padding:1.5rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  box-sizing: border-box;

  & .investment-portfolio-overview-arrow{
    width: 42px;
    height: 42px;
  }

  & .investment-portfolio-overview-investments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap:1rem;

  }
}