.input {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 0.6rem;
  background-color: var(--color-black-200);
  border:2px solid var(--color-black-400);
  padding: 0.4rem 0.4rem;
}