.badge{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-black-700);
  color: var(--color-white-300);
  padding:0.1rem;

  &.badge-selected{
    background-color: var(--color-gold-400);
    color: var(--color-black-900)
  }
}