.button {
  border-radius: 0.6rem;
  border: 0;
  cursor: pointer;

  &.button-text {
    padding: 0.6rem 0.6rem;
  }

  &.button-icon {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.button-solid {
    background-color: var(--color-black-200);
    border: 2px solid var(--color-black-200);

    &:hover {
      background-color: var(--color-black-300);
      border: 2px solid var(--color-black-300);
    }

    &:focus {
      background-color: var(--color-black-300);
      border: 2px solid var(--color-black-300);
    }

    &:focus-visible {
      outline: 2px solid var(--color-white-900);
    }

    &:active {
      background-color: var(--color-black-600);
      border: 2px solid var(--color-black-600);
    }
  }

  &.button-outline {
    border: 2px solid var(--color-black-200);
    background: transparent;

    &:hover {
      background-color: var(--color-black-300);
    }

    &:focus {
      background-color: var(--color-black-300);
    }

    &:focus-visible {
      outline: 2px solid var(--color-white-900);
    }

    &:active {
      background-color: var(--color-black-600);
    }
  }
}
