.text{
  color:var(--color-white-300);
  &.text-vsmall{
    font-size: 12px;
  }
  &.text-small{
    font-size: var(--font-size-small);
  }
  &.text-medium{
    font-size: var(--font-size-medium);
  }
  &.text-large{
    font-size: var(--font-size-large);
  }
  &.text-vlarge{
    font-size: 24px;
  }    
  &.text-bold{
    font-weight: bold;
  }

  &.text-number{
    font-family: 'Consolas', 'Courier New', monospace;  
  }

  &.text-selected{
    color:var(--color-gold-400);
  }
}