.income-report-overview{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:0.4rem;
  // width: 100%;
  height: 100%;
  padding:0 0.5rem;

  & .income-report-overview-arrow{
    width: 42px;
    height: 42px;
  }

  & .income-report-overview-income-expense{
    flex-grow: 1;
    overflow: hidden;
  }

  & .income-report-overview-total-income{
    display: flex;
    flex-direction: column;
    gap:0.4rem;
  }

  & .income-report-overview-total-expense{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:0.4rem;
  }
}

.income-report-overview-away-next{
  animation: slideNextAway 0.7s forwards ease-in-out;
}

.income-report-overview-next-current{
  animation: slideNextCurrent 0.7s forwards ease-in-out;
}

.income-report-overview-away-prev{
  animation: slidePrevAway 0.7s forwards ease-in-out;
}

.income-report-overview-prev-current{
  animation: slidePrevCurrent 0.7s forwards ease-in-out;
}