.nav-list-item{
  cursor:pointer;
  width: 100%;
  height: 2.4rem;
  display: flex;
  // justify-content: center;
  align-items: center;
  
  &.nav-list-item-selected{
    color:var(--color-gold-400);
  }

  & .nav-list-item-container{
    width: 90%;
    height: 100%;
    background-color: transparent;
    margin-right:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:1.6rem;
    border-radius: 0 1.5rem 1.5rem 0;

    .nav-list-item-start{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:1rem;
    }

    .nav-list-item-end{
      margin-right: 0.4rem;
    }

    &:hover{
      background-color: var(--color-black-600);
    }

    &:focus{
      background-color: var(--color-black-600);
    }

    &:focus-visible{
      outline: 2px solid var(--color-white-900);
    }
  
    &:active{
      background-color: var(--color-black-700);
    }
  }
}