.main-panel-dashboard {
  margin: 15vh 2rem 2rem 20rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: calc(100vw - 20rem);
  flex-wrap: wrap;
  color:white;

  & .main-panel-dashboard-credit-card {
    width: 25vw;
    height: 15vw;
    overflow: hidden;
  }

  & .main-panel-dashboard-income {
    width: 25vw;
    height: 15vw;
    overflow: hidden;
  }

  & .main-panel-dashboard-total-expense {
    width: 20vw;
    height: 15vw;
    overflow: hidden;
  }

  & .main-panel-dashboard-transactions {
    width: calc(50vw + 2rem);
    height: 20vw;
    overflow: hidden;
  }

  & .main-panel-dashboard-analytics {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
  }

  & .main-panel-dashboard-activities {
    width: calc(50vw + 2rem);
    height: 20vw;
    overflow: hidden;
  }

  & .main-panel-dashboard-quick-transfer {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
  }
}
