.navigation-panel{
  position: fixed;
  margin: 15vh 0rem 5vh 2rem;
  width: 15rem;
  height: 80vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap:1rem;
  margin-left: 2rem;
  color:white;

  & .navigation-panel-mainnavlinks{
    padding:1rem 0
  }

  & .navigation-panel-sidenavlinks{
    padding:1rem 0;
  }

  & .navigation-panel-portfoliolink{
    padding:1rem 0;
    height: 10rem;
  }
}