.main-panel-transaction {
  margin: 15vh 2rem 2rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(100vw - 25rem);
  color: white;

  & .main-panel-income-expense-chart{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
