:root {
  --color-primitive-black: black;
  --color-black-100: #464949;
  --color-black-200: #3c3e3e;
  --color-black-300: #323434;
  --color-black-400: #2D2F2F;
  --color-black-500: #282A2A;
  --color-black-600: #232525;
  --color-black-700: #1E1F1F;
  --color-black-800: #191A1A;
  --color-black-900: #141515;
  --color-black-1000: #0A0A0A;

  --color-primitive-white: white;
  --color-white-100: #F8F9FA;
  --color-white-200: #F1F3F5;
  --color-white-300: #E9ECEF;
  --color-white-400: #E4E7EB;
  --color-white-500: #DEE2E6;
  --color-white-600: #D6DBE0;
  --color-white-700: #CED4DA;
  --color-white-800: #BEC5CC;
  --color-white-900: #B6BDC5;
  --color-white-1000: #ADB5BD;

  --color-gold-100: #FF8800;
  --color-gold-200: #FF9500;
  --color-gold-300: #FFA200;
  --color-gold-400: #FFAA00;
  --color-gold-500: #FFB700;
  --color-gold-600: #FFC300;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: 0;
  background-color: inherit;
  color: inherit;
}
